@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Theming variables */
  :root {
    --gradient-dark-start: #1c2727;
    --gradient-dark-end: #2e393b;
    --gradient-red-start: #fc0430;
    --gradient-red-end: #aa0019;
    --gradient-green-start: #1abe8f;
    --gradient-green-end: #52e27a;
    --text-white: #ffffff;
  }

  
  .wheel-container {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wheel-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  .wheel-items {
    display: flex;
    position: relative;
  }
  
  .wheel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* Gradient styles */
  .gradient-dark {
    background: linear-gradient(to top, var(--gradient-dark-start), var(--gradient-dark-end));
  }

  .gradient-red {
    background: linear-gradient(to top, var(--gradient-red-start), var(--gradient-red-end));
  }

  .gradient-green {
    background: linear-gradient(to top, var(--gradient-green-start), var(--gradient-green-end));
  }

  /* Text styles */
  .wheel-text {
    color: var(--text-white);
    font-family: "Poppins", sans-serif;
    line-height: 1.75;
  }

  /* Special icon style */
  .wheel-icon {
    width: 50px;
    height: 60px;
  }

  
}
