@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* Footer theme variables */
  :root {
    --footer-bg-color: #202442;
    --footer-border-color: white;
    --footer-text-color: white;
  }

  /* Utility classes for footer */
  .footer-bg {
    background-color: var(--footer-bg-color);
  }

  .footer-border {
    border-color: var(--footer-border-color);
  }

  .footer-text {
    color: var(--footer-text-color);
    border-bottom: 1px solid transparent; 
    transition: border-color 0.3s ease;
  }

  .footer-text:hover {
    border-bottom: 1px solid var(--footer-text-color); 
    cursor: pointer;
  }


  .footer-link {
    transition: color 0.2s ease;
  }

  .footer-link:hover {
    color: rgba(255, 255, 255, 0.7);
  }


  .custom-scrollbar {
    @apply flex-1 overflow-y-auto;
  
    /* WebKit-based browsers (Chrome, Safari, etc.) */
    &::-webkit-scrollbar {
      width: 6px; /* Set scrollbar width */
    }
    &::-webkit-scrollbar-track {
      @apply rounded-full bg-gray-100; /* Rounded track */
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded-full bg-gray-300; /* Rounded thumb */
    }
  
    /* Dark mode styles */
    &::-webkit-scrollbar-track {
      @apply rounded-full bg-transparent; /* Dark mode track */
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded-full bg-neutral-400; /* Dark mode thumb */
    }
  }


}




