.row {
    display: flex;
  }
  
  .card {
    height: 85px;
    width: 85px;
    margin: 3px;
    border-radius: 8px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
  }
  
  
  .red {
    background: linear-gradient(to top, #aa0019, #fc0430);
  }
  
  .black {
    background: linear-gradient(to top, #2e393b, #1c2727);
  }
  
  .green {
    background: linear-gradient(to top, #52e27a, #1abe8f);
  }
  