@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./SubHeader/index.css";

@layer base {
  /* Theming variables */
  :root {
    --navbar-bg-color: #191D25;
    --custom-orange: #ffa31a; /* Define the custom color */
    --custom-orange-hover: #ff8c00; /* Hover effect color */
  }

  /* Utility classes for custom effects */
  .navbar-bg {
    background-color: var(--navbar-bg-color);
  }

  .bg-custom-orange {
    background-color: var(--custom-orange);
  }

  .bg-custom-orange:hover {
    background-color: var(--custom-orange-hover);
  }
  
  .icon-custom-orange {
    border-color: white;
    color: white;
    transition: border-color 0.3s ease;
  }

  .icon-custom-orange:hover {
    color: var(--custom-orange-hover);
    border-color: var(--custom-orange-hover);
    
  }

  .burger-menu.active {
    color: var(--custom-orange-hover);
    border-color: var(--custom-orange-hover);
  }

  .chat-menu.active {
    color: var(--custom-orange-hover);
  }

  /* Transition for smooth effects */
  .transition-color {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

